<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- ✅ load jQuery ✅ -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> -->
    <script src="static/js/jquery-3.5.1.min.js"></script>

    <link rel="stylesheet" href="static/css/ensemble.css" />
    <script src="static/js/common.js"></script>
</head>

<body>
    <div id="banner_element"></div>
    <div id="nav_element"></div>
    <div class="container-fluid" style="margin-bottom: 100px;">
        <div class="row d-flex justify-content-center">
            <h1 class="mb-3">Agents</h1>
        </div>
        <div style="padding-bottom: 100px;">
            <div class="table-responsive">
                <table class="table" id="agentsTable">
                    <thead>
                        <th></th>
                        <th>IP</th>
                        <th>Is Active</th>
                        <th>Health Status</th>
                        <th>Lask Checkin</th>
                        <th>Running Jobs</th>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
    integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
    crossorigin="anonymous"></script>

<script>

    function GetRow(element) {
        let isActive = "⭕";
        let healthStatus = "☠️";
        let lastCheckin = element["LastCheckinTime"]
        let runningJobs = element["ActiveJobCount"];

        if (element["IsActive"] === true) {
            isActive = "🟢";
        }
        else {
            isActive = "⭕";
        }

        let healthPercent = element["HealthPercent"];
        if (healthPercent < 1 && healthPercent >= 0.75) {
            healthStatus = "🔵";
        }
        else if (healthPercent < 0.75 && healthPercent >= 0.5) {
            healthStatus = "🟡";
        }
        else if (healthPercent < 0.5 && healthPercent >= 0.25) {
            healthStatus = "🟠";
        }
        else {
            healthStatus = "☠️";
        }

        return `<tr id='${element["Id"]}'>
                    <td><button style="border: none" onclick="location.href='/agenthealth?id=${element["Id"]}'">🔍</button></td>
                    <td>${element["AgentIpAddress"]}</td>
                    <td id="isActive_${element["Id"]}">${isActive}</td>
                    <td id="healthStatus_${element["Id"]}">${healthStatus}</td>
                    <td id="lastCheckin_${element["Id"]}">${lastCheckin}</td>
                    <td id="runningJobs_${element["Id"]}">${runningJobs}</td>
                </tr>`;
    }

    function UpdateAgentRow(newData, jobRow) {
        let isActive = "⭕";
        let healthStatus = "☠️";
        let lastCheckin = newData["LastCheckinTime"]
        let runningJobs = newData["ActiveJobCount"];

        if (newData["IsActive"] === true) {
            isActive = "🟢";
        }
        else {
            isActive = "⭕";
        }

        let healthPercent = newData["HealthPercent"];
        if (healthPercent < 1 && healthPercent >= 0.75) {
            healthStatus = "🔵";
        }
        else if (healthPercent < 0.75 && healthPercent >= 0.5) {
            healthStatus = "🟡";
        }
        else if (healthPercent < 0.5 && healthPercent >= 0.25) {
            healthStatus = "🟠";
        }
        else {
            healthStatus = "☠️";
        }
        $(`#isActive_${newData["Id"]}`).text(isActive);
        $(`#healthStatus_${newData["Id"]}`).text(healthStatus);
        $(`#lastCheckin_${newData["Id"]}`).text(lastCheckin);
        $(`#runningJobs_${newData["Id"]}`).text(runningJobs);
    }

    let firstLoad = true;
    function UpdateAgentsList(data) {

        $("#loadindicator").hide();

        data.responseJSON.forEach(element => {
            existingRow = $(`#${element["Id"]}`);

            if (firstLoad === true) {
                $("#agentsTable").append(GetRow(element));
                $(`#${element["Id"]}`).fadeIn();
            }
            else if (existingRow.length === 0) {
                if ($("#jobsTable tr").length >= 100) {
                    $("tr:last").remove();
                }
                $("#agentsTable").prepend(GetRow(element));
                $(`#${element["Id"]}`).fadeIn();
            }
            else if (existingRow.length === 1) {
                UpdateAgentRow(element, existingRow);
            }
        });
        if (firstLoad === true) {
            firstLoad = false;
            RegisterApiEndpointPoll("/api/agents", "GET", UpdateAgentsList, 3000);
        }
    }
    MakeApiEndpointRequest("/api/agents", "GET", UpdateAgentsList); //inital request for data
</script>

</html>