<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- ✅ load jQuery ✅ -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> -->
    <script src="static/js/jquery-3.7.0.slim.min.js"></script>

    <link rel="stylesheet" href="static/css/ensemble.css">
</head>

<body style="height: 100%;">
    <div class="container-fluid" style="width: 50%; height: 100%;">
        <div id="banner_element"></div>
        <div class="align-middle">
            <div class="row d-flex justify-content-center">
                <h2 class="logo-header">Ensemble Director</h2>
            </div>
            <div class="row">
                <div>
                    <div class="form-group">
                        <label for="usernameinput">Username</label>
                        <input class="form-control" id="usernameinput">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password">
                    </div>
                    <button id="submitButton" style="width: 100%;" class="btn btn-primary btn-block">Login</button>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- ✅ load jQuery (optional) ✅ -->
<script src="static/js/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!-- ✅ load Bootstrap bundle ✅ -->

<script src="static/js/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
<script src="static/js/bootstrap.min.js"
    integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
    crossorigin="anonymous"></script>
<script type="text/javascript" src="static/js/login.js"></script>
<script type="text/javascript" src="static/js/controls.js"></script>

</html>